/* popup.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    position: relative;
}

.container {
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    min-height: 300px;
}

.main-button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4c77af;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.group-list {
    margin-bottom: 10px;
}

.group-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #4c77af;
    text-decoration: underline;
}

ul {
    width: 80%;
    list-style: none;
    padding: 0;
}

.group-item.active {
    font-weight: bold;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.link-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
}

.delete-button,
.copy-link-button,
.go-link-button {
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
}

.delete-button {
    background-color: #ff5c5c;
    color: white;
}

.copy-link-button {
    background-color: #4c77af;
    color: white;
}

.go-link-button {
    background-color: #4caf50;
    color: white;
    width: 80px;
}

.alert {
    display: flex;
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.9;
    background-color: red;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert_hide {
    display: none;
}

.title {
    max-width: 45%;
    word-break: break-all;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 400px; /* Размер модалки */
}

.modal-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.modal-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.modal-button {
    padding: 10px;
    background-color: #4c77af;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.modal-content {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.save-button {
    background-color: #4c77af;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}